[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
django-tinymce = "*"
psycopg2 = "*"
django-taggit = "*"
django-cryptography = "*"
django-taggit-serializer = "*"
unidecode = "*"
xhtml2pdf = "*"

[requires]
python_version = "3.8"
