{% extends 'projects/base.html' %}
{% block title %}
Add Task
{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
       <h1 class="h2">Add Task</h1>
      </div>
<div class="table-responsive">

 <form action="" method="post" >
        {% csrf_token %}    
        <div class="form-group">
        {{ form.Task_Title.label_tag }}
        {{ form.Task_Title }}
        {{ form.Task_Title.errors }}
        </div>    
        <div class="form-group">
        {{ form.Task_Description.label_tag }}
        {{ form.Task_Description }}
        {{ form.Task_Description.errors }}
        </div>
        
        <input type="submit" class="btn btn-sm btn-warning text-white btn-outline-secondary" value="Save">
        <a href="{% url 'task-view' %}" class="btn btn-sm btn-warning text-white btn-outline-secondary">Cancel</a>
    </form>
</div>

{% endblock %}