{% extends 'projects/base.html' %}
{% block title %}
Update Comment
{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ projecttask }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">          
            <button type="button" class="btn btn-sm btn-outline-secondary">Update Comment</button>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'lov-add' %}"><span data-feather="plus-circle"></a>    
        </div>
    </div>
</div>
{{ form.media }}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>
</div>

{% endblock %}