<!--right bottom add icon-->
     <a  data-toggle="modal" data-target="#Activity_Modal">
    <span class="push-bottom" 
    style="
          position:fixed ;
          bottom:25px;
          right:25px;
          margin:0;
          padding:5px 3px;
          float: left;
          height: 50px;
          width: 50px;
          text-align: center;
          font-size: 30px;
          line-height: 24px;
          background: #ffc107;
          border-radius: 100%;">
      <i class="material-icons">
       <span data-feather="plus"></span>
      </i>
      </span>
      </a>
      <!-- end right bottom add icon-->